body {
  margin: 0px;
  padding: 0px;
}
*{
  /*border is adjusted in the self height*/
  box-sizing: border-box;
 
}
.header {
  height: 10vh;
  border: aliceblue;
  border-bottom: 2px solid grey;
  display: flex;
}
.header  .nav-left {
  vertical-align: middle;
  width: 12%;
  padding-left: 2%;
  padding-top: 1.3%;
}
.header  .nav-left .practo-logo .nav-interact img{
  width: 90px;


}
.header .nav-mid {
  vertical-align: middle;
  margin-top: 2%;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  position: relative;
}
.header .nav-mid .product-tab {
  padding-left: 10px;
}
.product-tab__title{
  font-size: x-small;
}
.product-tab__subtitle{
  font-size: xx-small;
}

.header .nav-mid .product-tab .product-tab-anchor {
  text-decoration: none;
}
.header .nav-mid .product-tab .product-tab-anchor .product-tab__title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}
.header .nav-right {
  margin-top: 1.5%;
  margin-left: 3%;
  display: flex;
  
}
.header .nav-right .drop-down a .new{
  background-color: darkblue;
  color: white;
  font-size: 9px;
  border-radius: 4px;
  padding: 3px 3px 3px;
}
select {
   width: 110px;
  border-color: white;
  font-size: 12px;
  cursor: pointer;
}
.header .nav-right .nav-buttons a{
  text-decoration: none;
  padding: 2px 4px 4px 2px;
  margin-left: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}
.search-box-wrapper{
  display: flex;
  margin-top: 20px;
  margin-left: 80px;
}

.search-box-wrapper .search-box input{
  width: 250px;
  height: 40px;
  border-radius: 5px;
  
}
.search-box-wrapper .try-plus {
  padding-left: 100px;
  margin-left: 110px;
}
.content-card .banner img{
    width: 85vw;
    height: 52vh;
    margin-left: 7vw;
    margin-top: 5vw;
    cursor: pointer;
}
.static {
  display: flex;
  margin-left: 55px;
}
.static .card-one {
  margin-top: 15px;
  padding-left: 23px;
  margin-left: 5px;
 
}
.static .card-one img{
  width: 160px;
}
.static .card-one a{
  text-decoration: none;
}
.card-desc{
  height: 90px;
  width: 160px;
  border: 1px solid #f0f0f5;
  border-radius: 0  0 24px 24px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
}
.desc-head{
  color: black;
  font-weight: bolder;
  padding-left: 10px;
  margin-top:10px;
  margin-bottom: 20px;
}
.desc-light{
  font-size: small;
  padding-left: 10px;
  color: black;
}

.specialist .spec-head{
  display: flex;
  flex-direction: row;
}
.specialist .spec-head .title{
  width: 60vw;
  margin-left: 7vw;
  margin-top: 20px;
}
.specialist .spec-head .h2{
  font-size: larger;
  font-weight: bolder;
}

.specialist .div-button .button{
  color: skyblue;
  background-color: white;
  border: 1px solid skyblue;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 60px;
  width: 150px;
  height: 40px;
}
.spec-add{
  display: flex;
  margin-left: 40px;
  margin-top: 20px;
  padding-left: 50px;
}
.pdp{
  padding-right: 30px;
}
.acne{
  padding-right: 30px;
}
.pib{
  padding-right: 30px;
}
.ccf{
  padding-right: 30px;
}
.cnfw{
  padding-right: 30px;
}
.da{
  padding-right: 20px;
}
.card-link{
  text-decoration: none;
  color: black;
}
.sp1{
  width: 100px;
  padding-left: 10px;
  margin-right: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.sp2{
  color:skyblue;
  font-size: small;
  padding-left: 15px;

}
.top-article{
  display: flex;
}
.tdiv{
  height: 230px;
  border: 1px solid black;
  width: 34%;
}
.apppointment{
  margin-top: 30px;
  margin-right: 60px;
}
.appointent-header{
  padding: 10px;
  margin-left: 60px;
  
}
.appoint-head-title{
  padding-bottom: 1px;
  font-weight: bold;
}
.appoint-head-subtitle{
  padding-bottom: 5px;
  font-weight: lighter;
  font-size:smaller;
}
.appointment-scroll {
  display: flex;
  margin-left: 50px;
  margin-right: 20px;
  overflow-x:scroll;
  white-space:nowrap;
}
.appointment-div{
  width: 250px;
  padding-left: 20px;
  text-decoration: none;
}
.appointment-div a{
  text-decoration: none;
  color: black;
}
.appointment-img{
  height: 170px;
  width:200px
  
}
.appointment-img-div img{
  border-radius: 10px;
  
}
.appointment-title{
  width: 200px;
}
.appointment-title-head{
  font-weight: bold;
  font-size: small;
  
}
.appointment-title-subhead{
  font-weight:lighter;
  font-size: small;
  margin-bottom: 10px;
}
.practo-fix{
  position: fixed;
  bottom:0%;
  right: 0%;
  
}
.practo-fix-img{
  border-radius: 5px;
  width: 95%;
}
.footer-main{
  font-size: small;
  color: white;
  background-color: #28328c;
  padding-left: 40px;
}
.footer-top{
  display: flex;
}
.footer-inner{
  padding-top: 30px;
  padding-left: 60px;
  
}
.footer-main span{
  font-weight: bolder;
}
.f-content{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  
}
.f-content a{
  color: white;
  text-decoration: none;
  font-size: small;
  padding-bottom: 5px;
}
.practo-footer img{
  padding-left: 35vw;
  height: 60px;
  
}
.copy-right{
  padding-left: 33vw;
}
.s-header{
  padding-left: 5%;
  width: 100%;
  display: flex;
  padding-bottom: 1%;
  border-bottom: 1px solid black;
}
.s-product-tab{
  padding-right: 20px;
}
.s-product-tab__title{
  font-size: small;
  color: black;
}
.sh-nav-left{
  display: flex;
  padding: 1.5%;
  
  
}
.s-product-tab-anchor{
  text-decoration: none;
}
.sh-nav-right{
  display: flex;
  padding-left: 20%;
  padding-top: 1%;

}
.explore{
  margin-right: 30%;
  font-size: small;
  margin-top:1%;
}
.s-searchbox input{
  width: 220px;
  height: 30px;
}
.image-bgpage2{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
  width: inherit; 
  height: inherit;
}
.column-container{
  display: flex;
}
.blogs{
  width: 60%;
  margin-left: 10%;
  border-radius: 0  0 24px 24px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.writings{
  padding-left: 6vw;
}
.big-image{
  width:100%;
  padding-left:6vw;
}
.blogs p{
  padding-left: 6vw;
}
.post-top-tags{
  padding-left:15%;
}
.interest-tag{
  padding-right: 10px;
  background-color: white;
  border-radius: 2px;
  border-color: black;
}
.plus-card{
  width: 70%;
  height:60%;
  padding-left: 10%;
  margin-top:20%
}
.for-articles{
  padding-left: 5%;
}
.popular-article a{
  display: flex;
  text-decoration: none;
}